/*etiqueta universal*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

/*LADO IZQUIERDO DE LA PAGINA*/

/*titulo*/

.bienvenido{
    margin-left: 25%;
    margin-top: 15%;
    font-size: 35px;
}

/*subtitulo*/

.subtitulo{
    color: rgb(150, 150, 150);
    margin-left: 25%;
    margin-bottom: 20px;
    font-size: 15px;
}

/*diseño del div "formulario"*/

.formulario{
    float: left;
    width: 50%;
    height: 100vh;    
}

/*formulario*/

form{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

/*diseño de los input email y password*/

input[type="email"], input[type="password"]{
    border-radius: 8px;
    border-color: rgb(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 5px;
}

/*separacion de los label*/

label{
    margin-bottom: 5px
}

/*diseño del div "opciones"*/

.opciones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}

/*posicion del texto "remember for 30 days"*/

.recordar .remember{
    position: absolute;
    margin-left: 5px
}

/*diseño de los links*/

a{
    color: black;
    text-decoration: none;
}
.forgot:hover{
    text-decoration: underline;
}
.registrarse:hover{
    text-decoration: underline;
}

/*diseño del boton "Sign in"*/

.ingresar{
    background-color: black;
    color: white;
    border-color: rgb(0,0,0,0);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

/*diseño del boton "Sign in with Google"*/

.google{
    background-color: white;
    border-radius: 8px;
    border-color: rgb(0,0,0,0.2);
    padding: 8px; 
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icono{
    width: 20px;
    padding-right: 5px;
}

/*diseño del div "nuevo"*/

.nuevo{
    display: flex;
    font-size: 12px;
    margin: 0 auto;
}
p{
    color: rgb(150, 150, 150);
    font-size: 12px;
}
.registrarse{
    margin-left: 5px;    
}

/*diseño del raton*/

.ingresar:hover{
    cursor: pointer;
}
.google:hover{
    cursor: pointer;
}

/*LADO DERECHO DE LA PAGINA*/

/*imagen de fondo del lado derecho de la pagina*/
.imagen{
    background-image: url("setup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
}

/*contenedor*/

.contenedor{
    background: #fafafa25;
    backdrop-filter: blur(0.4rem);
    margin: 0 auto;
    width: 590px;
    height: 300px;
    margin-bottom: 3%;
}

/*titulo, subtitulo & texto dentro del contenedor*/

.titulo-contenedor{
    color: white;
    font-weight: normal;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.subtitulo-contenedor{
    color: white;
    font-size: 30px;
    font-weight: normal;
    right: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.h3-contenedor{
    color: white;
    font-size: 15px;
    font-weight: normal;
    right: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.p-contenedor{
    color: grey;
    font-size: 15px;
    font-weight: normal;
    right: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

/*iconos dentro del contenedor*/

i{
    color: white;
}
.nombre-estrellas{
    display: flex;
    justify-content: space-between;
}
.estrellas{
    margin-top: 40px;
    margin-right: 25px;
}
.fin-contenedor{
    display: flex;
    justify-content: space-between;
}
.circulos{
    font-size: 40px;
    margin-right: 25px;
}