*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*LADO IZQUIERDO DE LA PAGINA*/

.bienvenido{
    font-size: 35px;
    margin-bottom: 10px;
}

.subtitulo{
    color: rgb(150, 150, 150);
    font-size: 15px;
    margin-bottom: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    height: 100vh;
    width: 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50%;
    font-size: 12px;
}

form label{
    margin-bottom: 5px;
}

input[type="email"], input[type="password"]{
    border-radius: 8px;
    border-color: rgb(0,0,0,0.2);
    padding: 10px;
    margin-bottom: 20px;
}

.opciones{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
}

.check{
    cursor: pointer;
}

.recordar label{
    position: relative;
    bottom: 2px;
}

a{
    color: black;
    text-decoration: none;
}

.forgot:hover{
    text-decoration: underline;
}

.registrarse:hover{
    text-decoration: underline;
}

.ingresar{
    background-color: rgb(255, 255, 255);
    color: #010101;
    border-color: rgb(0,0,0,0.2);
    border-radius: 8px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 10px;
}

.ingresar:hover{
    cursor: pointer;
    background-color: #010101;
    color: #ffffff;
    border-color: rgb(0,0,0,0.2);
}

.google{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    border-color: rgb(0,0,0,0.2);
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
}

.icono{
    width: 20px;
    padding-right: 5px;
}

.google:hover{
    cursor: pointer;
    background-color: #010101;
    border-color: rgb(0,0,0,0.2);
}

.google:hover a{
    color: #ffffff;
}

.nuevo{
    display: flex;
    font-size: 12px;
    gap: 5px;
    margin: 0 auto;
}

p{
    color: rgb(150, 150, 150);
    font-size: 12px;
}

@media (max-width: 520px){
    .opciones{
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 440px){
    .nuevo{
        flex-direction: column;
    }
}

/*LADO DERECHO DE LA PAGINA*/

.imagen{
    background-image: url("setup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.contenedor{
    background: #fafafa25;
    backdrop-filter: blur(0.4rem);
    margin: 0 auto;
    width: 90%;
    height: auto;
    margin-bottom: 3%;
}

.titulo-contenedor{
    color: white;
    font-weight: normal;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.subtitulo-contenedor{
    color: white;
    font-size: 30px;
    font-weight: normal;
    right: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.h3-contenedor{
    color: white;
    font-size: 15px;
    font-weight: normal;
    right: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.p-contenedor{
    color: grey;
    font-size: 15px;
    font-weight: normal;
    right: 5px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

i{
    color: white;
}

.nombre-estrellas{
    display: flex;
    justify-content: space-between;
}

.estrellas{
    margin-top: 35px;
    margin-right: 25px;
}

.fin-contenedor{
    display: flex;
    justify-content: space-between;
}

.flechas{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    gap: 10px;
    margin-bottom: 25px;
    margin-right: 25px;
}

.flechas i:hover{
    cursor: pointer;
    color: aqua;
}

@media (max-width: 768px){

    .subtitulo-contenedor{
        font-size: 25px;
    }

    .formulario{
        width: 100%;
    }

    .imagen{
        width: 100%;
    }

    .sign-in{
        display: flex;
        flex-direction: column;
    }
}
